<ion-header>
  <ion-toolbar>
    <ion-title>Resumen de compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="vertical-center">
    <ion-card *ngIf="datosTicket">
      <ion-card-header>
        <ion-card-title>Resumen del Ticket</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre:</strong> {{ datosTicket.cliente.nombre }}</p>
        <p><strong>Apellido:</strong> {{ datosTicket.cliente.apellido }}</p>
        <p><strong>Edad:</strong> {{ datosTicket.cliente.edad }}</p>
        <p><strong>Evento:</strong> {{ datosTicket.evento.nombre }}</p>
        <p><strong>Tipo de Entrada:</strong> {{ datosTicket.tipoEntrada.tipo }}</p>
        <p><strong>Precio por entrada:</strong> {{ datosTicket.tipoEntrada.precio }} CLP</p>
        <p><strong>Cantidad:</strong> {{ datosTicket.cantidad }}</p>
        <p><strong>Total:</strong> {{ datosTicket.total }} CLP</p>
        <p><strong>Descuento:</strong> {{ datosTicket.descuento }}%</p>
      </ion-card-content>
    </ion-card>
    <div class="button-container">
      <ion-button expand="full" (click)="irInicio()">Inicio</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">&copy; 2024 Joa.mendoza</ion-title>
  </ion-toolbar>
</ion-footer>