.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

ion-button{
    width: 20%;
}